<td colspan="5">
  <ul class="forty">
    {{#facet name="Image"}}<img src="{{displayValue}}"/>{{/facet}}
  </ul>
  <ul class="sixty">
    {{#facet name="Description"}}
      <li>
    	  <p class="description">{{displayValue}}</p>
      </li>
    {{/facet}} 
    {{#facet name="Website"}}
      <li>
        <b>website</b>
        <span class="facet-values"><a href="{{displayValue}}" class="webkite-website">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="Email"}}
      <li>
        <b>email</b>
        <span class="facet-values"><a href="mailto:{{displayValue}}" class="webkite-email">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="Fax Number"}}
      <li>
        <b>fax number</b>
        <span class="facet-values"><a href="tel:{{displayValue}}">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="Facebook"}}
      <li>
        <b>facebook</b>
        <span class="facet-values"><a href="{{displayValue}}" class="webkite-website">{{displayValue}}</a></span>
      </li>
    {{/facet}}
    {{#facet name="Twitter"}}
      <li>
        <b>twitter</b>
        <span class="facet-values"><a href="https://twitter.com/{{displayValue}}">{{displayValue}}</a></span>
      </li>
    {{/facet}}
  </ul>
</td><!-- webkite-item-details -->
